*~
*.riscv
*.host
*.o
*.dump
*.out
*.hex
.*.swp
*.pyc
/autom4te.cache
/Makefile
/config.log
/config.status
/build

.vscode/

riscv-tests/riscv-tests-bin/*
!riscv-tests/riscv-tests-bin/LICENSE
!riscv-tests/riscv-tests-bin/README.md

riscv-tests/riscv-tests-hex/*
!riscv-tests/riscv-tests-hex/LICENSE
!riscv-tests/riscv-tests-hex/README.md